.chooseCover{
    display: flex;
    gap: 20px;
    border: 1px solid rgba(161, 159, 159, 0.459);
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 10px;
    label{
        font-weight: 600;
    }
    input[type="file"]::file-selector-button {
        border-radius: 4px;
        padding: 0 16px;
        height: 40px;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        margin-right: 16px;
        transition: background-color 200ms;
        color: rgb(47, 47, 146);
        font-weight: 600;
      }
      
}