.popUp{
    position: absolute;
    z-index: 20;
    right: 50px;
    top: 40px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    .popUp_profile{
        display: flex;
        gap: 10px;
        align-items: center;
        img{
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .popUp_name_user{
            font-weight: 600;
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
    }
    button{
        background: transparent;
        color: rgb(1, 91, 180);
        border: 2px solid rgb(55,143,233);
        outline: none;
        cursor: pointer;
        padding: 0.3rem;
        border-radius: 20px;
        width: 100%;
        margin: 0.7rem;
        font-weight: 600;
        margin-left: 0;
        text-decoration: none;
        &:hover{
            background-color: rgba(55, 144, 233, 0.26);
        }
    }
    hr{
        opacity: 0.3;
    }
    .signOut{
        font-size: 14px;
        cursor: pointer;
        opacity: 0.7;
        float: right;
        &:hover{
            opacity: 1;
            text-decoration: underline;
        }
    }
}