.topBar{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-bottom: 1px solid rgba(167, 167, 167, 0.548);
        box-shadow: 0 0 4px rgba(167, 167, 167, 0.548);
        width: 100%;
        padding: 0.5rem 2rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        .logo_search_field{
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            input{
                height: 30px;
                max-width: 250px;
                width: 100%;
                padding: 0.8rem;
                color: grey;
                background-color: rgb(237,243,248);
                border: none;
                outline: none;
                border-radius: 5px;
            }
        }
        .nav_ul{
            display: flex;
            align-items: center;
            gap: 40px;
            li{
                list-style-type: none;
                cursor: pointer;
                .icon{
                    font-size: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            @media (max-width: 783px){
                display: none;
            }
        }
        .profile{
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            img{
                width: 34px;
                height: 34px;
                border-radius: 50%;
            }
        }
        @media (max-width: 349px){
            padding: 0.5rem;
        }
    }
    .response{
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        box-shadow: 0 0 5px grey;
        @media (max-width: 783px){
            display: inline;
        }
    }
}