.topBar{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-bottom: 1px solid rgba(167, 167, 167, 0.548);
        box-shadow: 0 0 4px rgba(167, 167, 167, 0.548);
        width: 100%;
        padding: 0.5rem 2rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        .logo_search_field{
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            input{
                height: 30px;
                width: 100%;
                max-width: 200px;
                padding: 0.8rem;
                color: grey;
                background-color: rgb(237,243,248);
                border: none;
                outline: none;
                border-radius: 5px;
                @media (max-width: 543px){
                    display: none;
                }
            }
        }
        .nav_ul{
            display: flex;
            align-items: center;
            gap: 40px;
            li{
                list-style-type: none;
                cursor: pointer;
                .icon{
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 10px;
                }
                .active{
                    color: rgb(16, 16, 192);
                    font-size: 12px;
                    font-weight: 700;
                    
                }
            }
            @media (max-width: 783px){
                display: none;
            }
        }
        .profile{
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            img{
                width: 34px;
                height: 34px;
                border-radius: 50%;
            }
        }
        @media (max-width: 349px){
            padding: 0.5rem;
        }
    }
    .response{
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        box-shadow: 0 0 5px grey;
        @media (max-width: 783px){
            display: inline;
        }
    }
    .searchWrapper{
        width: 100%;
        height: 100%;
        background-color: rgba(8, 8, 8, 0.336);
        position: fixed;
        z-index: 20;
        top: 55px;
        left: 0;
        overflow: hidden;
        .searchResults{
            background-color: white;
            border-radius: 10px;
            width: 300px;
            height: 400px;
            overflow-y: scroll;
            border: 1px solid rgba(158, 155, 155, 0.488);
            position: absolute;
            z-index: 20;
            top: 0;
            left: 4rem;
            padding: 1rem;
            &::-webkit-scrollbar {
                width: 8px;
            }
        
            &::-webkit-scrollbar-track {
                background: #ffffff; /* Light grey */
                border-radius: 20px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: #8888888f; /* Dark grey */
                border-radius: 20px;
            }
              
            .search-inner{
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: 500;
                border-bottom: 1px solid rgba(167, 164, 164, 0.5);
                padding: 0.7rem;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgba(167, 164, 164, 0.5);
                    border-radius: 8px;
                }
            }
        }
    }
    
}