.postCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid rgba(128, 128, 128, 0.393);
    border-radius: 10px;
    width: 500px;
    padding: 1rem;
    position: relative;
    background-color: white;
    margin-bottom: 1.5rem;
    .post_user_profile{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .content{
            .name{
                font-weight: 600;
                &:hover{
                    color: rgb(10,102,194);
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .headline, .timeline{
                font-size: 12px;
            }
        }
    }
    .likeStorage{
        .likeCount{
            font-size: 12px;
            margin-bottom: 0.2rem;
        }
        .like_comment{
            display: flex;
            gap: 10px;
            margin-top: 0.5rem;
            button{
                background: transparent;
                outline: none;
                border: none;
                font-size: 16px;
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                padding: 0.4rem 1rem;
                &:hover{
                    border-radius: 5px;
                    transition: 0.3s ease-in-out;
                    background-color: rgba(128, 128, 128, 0.393);
                }
            }
        }
        hr{
            opacity: 0.4;
        }
        .user_comment_box{
            position: relative;
            .all-comments{
                background: rgb(242,242,242);
                border-radius: 6px;
                padding: 1rem;
                margin-bottom: 0.7rem;
                .name{
                    font-weight: 600;
                }
                .timestamp{
                    font-size: 10px;
                    color: gray;
                }
                .comment{
                    margin-top: 0.7rem;
                }
            }
            .add-comment-btn{
                position: absolute;
                top: 15px;
                right: 60px;
                background: rgb(10,102,194);
                border: none;
                outline: none;
                padding: 0.2rem 0.5rem;
                border-radius: 20px;
                color: white;
                font-weight: 600;
                cursor: pointer;
                z-index: 999;
            }
        }
    }
    .edit_del{
        position: absolute;
        right: 20px;
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
    .toggleSeeMore{
        background: transparent;
        border: none;
        outline: none;
        color:rgb(63, 63, 146);
        cursor: pointer;
        font-weight: 600;
        position: absolute;
        right: 20px;
        bottom: 70px;
    }
    @media (max-width: 539px){
        width: 400px;
    }
    @media (max-width: 409px){
        width: 300px;
    }
    .postImage{
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(170, 167, 167, 0.466);
    }
}