.user_profile_card{
    border: 1px solid rgba(151, 150, 150, 0.39);
    max-width: 850px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    .user_img{
        position: relative;
        img{
            width: 100%;
            height: 200px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer;
        }
        .fa-pen-to-square{
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
        }
    }
    .content{
        position: relative;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px solid white;
            position: absolute;
            top: -120px;
            left: 20px;
            cursor: pointer;
        }
        .user_info{
            padding: 2rem;
            width: 60%;
            .user_name{
                font-weight: 600;
                font-size: 22px;
            }
            .user_headline{
                font-size: 14px;
            }
            .user_location{
                font-size: 12px;
                color: gray;
                .contact{
                    font-weight: 600;
                    color: rgb(10,102,194);
                    font-size: 13px;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            @media (max-width: 516px){
                width: 100%;
            }
        }
        .user_experience{
            position: absolute;
            top: 20px;
            right: 70px;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (max-width: 516px){
                position: relative;
                left: 0;
                top: 0;
                padding: 2rem;
                padding-top: 0;
            }
        }
    }
}
.user_skills, .user_about{
    border: 1px solid rgba(151, 150, 150, 0.39);
    max-width: 850px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    background-color: white;
    .heading{
        background-color: rgba(182, 178, 178, 0.295);
        padding: 0.7rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid rgba(161, 160, 160, 0.473);
        h2{
            font-weight: 500;
        }
    }
    .single_skill{
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        gap: 20px;
        
        img{
            width: 30px;
            height: 30px;
            filter: drop-shadow(0 0 12px #7c7c7c9c);
        }
        p{
            font-weight: 600;
        }
    }
    hr{
        opacity:  0.3;
    }
    .fa-pen-to-square{
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgb(71, 71, 71);
    }
}
.user_about{
    .heading{
            background-color: rgba(182, 178, 178, 0.295);
            padding: 0.7rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 1px solid rgba(161, 160, 160, 0.473);
    }
    
    p{
        font-size: 15px;
        margin: 2rem;
    }
    .fa-pen-to-square{
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgb(71, 71, 71);
    }
}
.user_feed{
    border: 1px solid rgba(151, 150, 150, 0.39);
    max-width: 850px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    .heading{
        background-color: rgba(182, 178, 178, 0.295);
        padding: 0.7rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid rgba(161, 160, 160, 0.473);
    }
    .feed{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: white;
        flex-direction: column;
        margin: 2rem 0;
    }
    h2{
        font-weight: 500;
        margin: 0.6rem;
    }
}