.user{
    border: 2px solid;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    height: 250px;
    border: 1px solid rgba(173, 173, 173, 0.562);
    position: relative;
    @media (max-width: 375px){
        width: 150px;
        height: 220px
    }
    .bgImage{
        width: 100%;
        height: 50px;
        .backgroundImage{
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .conact_content{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 4px solid white;
            position: absolute;
            left: 60px;
            top: -30px;
            @media (max-width: 375px){
                width: 60px;
                height: 60px;
                left: 45px;
            }
        }
        .names{
            margin-top: 2.5rem;
            text-align: center;
            padding: 0.7rem;
            @media (max-width: 375px){
                margin-top: 1.5rem;
            }
            h4{
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    color: rgb(37, 37, 177);
                    text-decoration: underline;
                }
            }
            p{
                font-size: 14px;
                width: 100%;
                height: 75px;
            }
        }
        hr{
            opacity: 0.3;
        }
        h3{
            font-weight: 500;
            padding: 0.5rem;
            font-size: 18px;
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: space-around;
            li{
                list-style-type: none;
                padding: 0.5rem;
                cursor: pointer;
            }
        }
        button{
            background: transparent;
            outline: none;
            border: 2px solid rgb(10,102,194);
            border-radius: 30px;
            padding: 0.4rem 3rem;
            color:rgb(10,102,194);
            font-weight: 600;
            transition: all .3s ease;
            cursor: pointer;
            position: absolute;
            bottom: -25px;
            &:hover{
                border: 2px solid rgb(10,102,194);
                background-color: rgba(10, 102, 194, 0.301);
            }
            @media (max-width: 375px){
                padding: 0.4rem 1rem;
                bottom: -10px;
            }
        }
        
    }
  
}