.feedPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  .PostBox {
    padding: 1rem;
    border: 1px solid rgba(167, 166, 166, 0.438);
    border-radius: 10px;
    width: 500px;
    background-color: white;
    margin: 1rem;
    height: 130px;
    .postArea {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid rgba(167, 166, 166, 0.438);
      }
      p {
        border: 1px solid rgba(167, 166, 166, 0.438);
        padding: 0.8rem 1.3rem;
        border-radius: 30px;
        max-width: 400px;
        width: 100%;
        color: grey;
        cursor: pointer;
        &:hover {
          background-color: rgba(185, 184, 184, 0.267);
        }
      }
    }
    .postOption {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin-top: 0.6rem;
      margin-right: 2rem;
      max-width: 350px;
      width: 100%;
      float: right;
      .post_Opt {
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
      }
      @media (max-width: 539px){
        margin-right: 0;
        justify-content: end;
        gap: 20px;
      }
    }
    @media (max-width: 539px){
      max-width: 400px;
    }
    @media (max-width: 409px){
      max-width: 300px;
    }
  }
  .feed {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
