.news_contain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .newsBox{
        margin-top: 5rem;
        max-width: 800px;
        width: 100%;
        height: auto;
        padding: 2rem;
        border: 1px solid rgba(156, 155, 155, 0.438);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.512);
        display: flex;
        flex-direction: column;
        gap: 15px;
        .each_news{
            border: 1px solid rgba(156, 155, 155, 0.438);
            background-color: rgba(255, 255, 255, 0.815);
            padding: 1rem;
            border-radius: 10px;
            font-size: 14px;
            h5{
                margin-bottom: 0.7rem;
                font-size: 15px;
            }
            a{
                float: right;
            }
            &:hover{
                cursor: pointer;
                background-color: rgb(209,229,250);
                transition: 0.5s ease-in-out;
            }
        }
        @media (max-width: 786px){
            border: none;
            background: transparent;
        }
    }
    
}

