.home_profile_bar{
    width: 220px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    border: 1px solid rgba(173, 173, 173, 0.562);
    margin-top: 5rem;
    .bgImage{
        width: 100%;
        height: 50px;
        .backgroundImage{
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .conact_content{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 4px solid white;
            position: absolute;
            left: 70px;
            top: -40px;
        }
        .names{
            margin-top: 2rem;
            text-align: center;
            padding: 0.7rem;
            h4{
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    color: rgb(37, 37, 177);
                    text-decoration: underline;
                }
            }
            p{
                font-size: 14px;
            }
        }
        hr{
            opacity: 0.3;
        }
        h3{
            font-weight: 500;
            padding: 0.5rem;
            font-size: 18px;
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: space-around;
            li{
                list-style-type: none;
                padding: 0.5rem;
                cursor: pointer;
            }
        }
        button{

        }
    }
    @media (max-width: 790px){
        display: none;
    }
    
}
